@import 'bootstrap/dist/css/bootstrap.min.css';

.navbar-dark .nav-link {
  color: white !important;
}

main {
  padding: 0.5rem 2rem;
}

.card {
  background-color: rgba(255, 255, 255, 0.05) !important;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 4.67s both;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.professional-card {
  border-left: 4px solid #f59e0b !important;
  border-right: 4px solid #f59e0b !important;
}

.about-card {
  border-left: 4px solid rgb(212, 30, 30) !important;
  border-right: 4px solid rgb(212, 30, 30) !important;
}

.academic-card {
  border-left: 4px solid dodgerblue !important;
  border-right: 4px solid dodgerblue !important;
}